.mainBody {
  margin: 0 auto;
  width: 1200px;
  margin-top: -150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mainBody .hotSeries {
  margin-top: 145px;
  border-radius: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.65);
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}

.mainBody .hotSeries .hotSeriesTitle {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  position: relative;
  margin-bottom: 20px;
}

.mainBody .hotSeries .hotVideoList {
  display: flex;
  align-items: center;
}

.mainBody .hotSeries .hotVideoList .hotVideoItem {
  margin-right: 15px;
  width: 220px;
}

.mainBody .hotSeries .hotVideoList .hotVideoItem .hotVideoItemOne {
  width: 100%;
}

.mainBody .hotSeries .hotVideoList .hotVideoItem .hotVideoItemOne .hotVideoCover {
  position: relative;
  border-radius: 8px;
  width: 220px;
  height: 220px;
  overflow: hidden;
  background: gray;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
}

.mainBody .hotSeries .hotVideoList .hotVideoItem .hotVideoItemOne .hotVideoCover .imgclass {
  width: 220px;
}

.mainBody .hotSeries .hotVideoList .hotVideoItem .hotVideoItemOne .hotVideoName {
  font-size: 14px;
  color: #333;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 20px;
  margin-bottom: 5px;
  height: 40px;
}

.mainBody .hotSeriesTwo {
  border-radius: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 2px rgba(204, 204, 204, 0.65);
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
}

.mainBody .hotSeriesTwo .hotSeriesTitle {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  position: relative;
  margin-bottom: 20px;
}

.mainBody .hotSeriesTwo .hotGoodsList {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 0;
}

.mainBody .allGoods {
  padding-top: 24px;
  border-radius: 10px 10px 0 0;
  background: #fff;
}

.mainBody .allGoods .allGoodsTitle {
  font-size: 26px;
  font-weight: 600;
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.mainBody .allGoods .allGoodsTitle .spanclass {
  font-size: 16px;
  font-weight: 400;
  color: #ccc;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
}

.mainBody .allGoods .filterList {
  padding: 0 20px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  background: #fff;
}

.mainBody .allGoods .filterList .filterListone {
  width: 100%;
}

.mainBody .allGoods .filterList .filterListone .classFilterList {
  width: 100%;
  border-bottom: 1px solid #eee;
}
