   .mainBody{
    margin: 0 auto;
    width: 1200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
   .hotSeries{
       
        border-radius: 10px;
        width: 100%;
        background: #fff;
        box-shadow: 0 0 10px 2px hsla(0,0%,80%,.65);
        box-sizing: border-box;
        padding: 20px;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
        .hotSeriesTitle{
            font-size: 24px;
            font-weight: 600;
            color: #333;
            position: relative;
            margin-bottom: 20px;
        }

        .hotVideoList{
            display: flex;
            align-items: center;
            .hotVideoItem{
                margin-right: 15px;
                width: 220px;
                .hotVideoItemOne{
                    width: 100%;
                    .hotVideoCover{
                        position: relative;
                            border-radius: 8px;
                            width: 220px;
                            height: 220px;
                            overflow: hidden;
                            background: gray;
                            margin-bottom: 10px;
                            cursor: pointer;
                            display: block;
                            .imgclass{
                                width: 220px;
                            }

                            .hotVideoTime{
                                width: 80px;
                                height: 30px;
                                position: absolute;
                                border-radius: 15px;
                                background: rgba(51,51,51,.6);
                                bottom: 10px;
                                left: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .qwe{
                                    width: 20px;
                                    height: 20px;
                                    color: #fff;
                                   
                                    span{
                                        speak: none;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-variant: normal;
                                        text-transform: none;
                                        line-height: 1;
                                        font-size: 13px;
                                    }
                                }
                                .spanTime{
                                    font-size: 14px;
                                    color: #fff;
                                    padding-left: 5px;
                                }
        
                            }
                    }
                   
                    .hotVideoName{
                        font-size: 14px;
                        color: #333;
                        text-align: left;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        line-height: 20px;
                        margin-bottom: 5px;
                        height: 40px;
                    }
                }

            }

        }

    }
        .hotSeriesTwo{
            
             border-radius: 10px;
             width: 100%;
             background: #fff;
             box-shadow: 0 0 10px 2px hsla(0,0%,80%,.65);
             box-sizing: border-box;
             padding: 20px;
             margin-bottom: 25px;
             position: relative;
             overflow: hidden;
             .hotSeriesTitle{
                font-size: 24px;
                font-weight: 600;
                color: #333;
                position: relative;
                margin-bottom: 20px;
            }
            .hotGoodsList{
                display: flex;
                align-items: center;
                position: relative;
                margin-left: 0;
            }
    }

    .allGoods{
        padding-top: 24px;
        border-radius: 10px 10px 0 0;
        background: #fff;

        .allGoodsTitle{
            font-size: 26px;
            font-weight: 600;
            position: relative;
            margin-bottom: 15px;
            padding-left: 20px;
            .spanclass{
                font-size: 16px;
                font-weight: 400;
                color: #ccc;
                padding-left: 10px;
                position: absolute;
                bottom: 0;
            }
        }
        .filterList{
            padding: 0 20px;
            border: 1px solid #eee;
            margin-bottom: 20px;
            background: #fff;
            .filterListone{
                width: 100%;
                .classFilterList{
                    width: 100%;
                    .classfilterListtwo{
                        width: 100%;
                        line-height: 50px;
                        font-size: 12px;
                        .classTitle{
                            float: left;
                            color: #333;
                            font-weight: 600;
                            margin-right: 20px;
                            width: 24px;
                            height: 50px;
                        }
                        .classTypeList{
                            float: left;
                            .classTypeName{
                                float: left;
                                .spanone:hover{
                                    color: #ff527d;
                                }
                               
                                .spanone:visited {
                                    color: #ff527d;
                                
                                }
                               
                                .spanone:focus{
                                    color: #ff527d;
                                   
                                }
                                .spanone{
                                    outline: none;
                                    cursor: pointer;
                                    padding: 0 17px;
                                    border-right: 1px solid #eee;
                                }
                            }
                        }
                    }
                }

                .brandFilterListo{
                    width: 100%;
                    .brandFilterList{
                        width: 100%;
                        line-height: 50px;
                        font-size: 12px;
                        position: relative;
                        display: flex;
                        border-top: 1px solid #eee;
                        overflow:hidden;
                        .extendAll{
                            
                            color: #ff527d;
                            position: absolute;
                            top: 25px;
                            right: 0;
                            line-height: 0;
                            cursor: pointer;
                        }
                        .brandTitle{
                            float: left;
                            color: #333;
                            font-weight: 600;
                            margin-right: 20px;
                        }
                        .brandTypeList{
                            float: left;
                            
                            width: 1040px;
                            height: 50px;
                            .brandTypeUl{
                                width: 1040px;
                                float: left;
                                position: relative;
                                .brandTypeName{
                                    float: left;
                                    line-height: 50px;
                                
                                    outline: none;
                                    span:hover{
                                        color: #ff527d;
                                    }
                                   
                                    span:visited {
                                        color: #ff527d;
                                        border: 1px solid #ff527d;
                                    }
                                    span:active{
                                        border: 1px solid #ff527d;
                                    }
                                    span:focus{
                                        color: #ff527d;
                                        border: 1px solid #ff527d;
                                    }
                                    .spanttt{
                                        outline: none;
                                        display: inline-block;
                                        cursor: pointer;
                                        padding: 0 15px;
                                        min-width: 50px;
                                        border: 1px solid #eee;
                                        border-radius: 15px;
                                        text-align: center;
                                        line-height: 20px;
                                        transition: color .3s,border-color .3s;
                                        margin: 0 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
      
      .goodsItemList{
        display: flex;
        margin-bottom: 0;
        flex-wrap: wrap;
        .goodsItem{
            width: 224px;
            height: 319px;
            margin-right: 20px;
            margin-bottom: 20px;
            .goodsItemoo{
                width: 100%;
                height: 100%;
                border: 1px solid #eee;
                border-radius: 10px;
                padding: 10px;
                cursor: pointer;
                .goodsImageBox{
                    position: relative;
                    overflow: hidden;
                    .originalImage{
                        vertical-align: middle;
                        border-style: none;
                        width: 100%;
                        transition: transform .3s,-webkit-transform .3s;
                    }
                }
                .goodsDesc{
                    font-size: 14px;
                    color: #333;
                    transition: color .3s;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .goodsName{
                    margin: 5px 0 0;
                    font-size: 14px;
                    color: #333;
                    transition: color .3s;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .goodsPriceBox{
                    margin: 8px 0 0;
                    .spangoodsPrice{
                        font-size: 20px;
                        color: #ff527d;
                        font-weight: 600;
                        .bb{
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                    .goodsMarketprice{
                        font-size: 14px;
                        color: #ccc;
                        text-decoration: line-through;
                        font-weight: 100;
                        margin-left: 10px;
                    }
                }

            }
        }
        .goodsItem:nth-child(5n){
            margin-right: 0;
        }
      }

    }
}