.top {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.top .swipe {
  width: 600px;
  height: 450px;
}

.top .zz {
  width: 286px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.top .zz a {
  display: block;
  height: 215px;
  width: 286px;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  position: relative;
}

.top .zz a .topdiv {
  background-image: linear-gradient(-180deg, transparent, rgba(0, 0, 0, 0.36) 95%);
  width: 600px;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.top .zz a p {
  z-index: 98;
  position: absolute;
  left: 10px;
  color: #fff;
  margin-bottom: 0;
}

.top .zz a .v1 {
  bottom: 60px;
  background: rgba(0, 0, 0, 0.5);
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 15px;
  border-radius: 15px;
}

.top .zz a .v2 {
  bottom: 10px;
  font-size: 16px;
}

.top .zz a img {
  height: 215px;
}

.top .user {
  width: 274px;
  height: 450px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.top .user .head {
  width: 100%;
}

.top .user .head .Img {
  margin: 0 auto;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.top .user .head button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #ff527d;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 30px;
  background: #fff;
  color: #ff527d;
  cursor: pointer;
}

.top .user .head p {
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}

.top .user .body {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top .user .body div {
  flex: 50%;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #ccc;
}

.top .user .body div span {
  font-size: 24px;
}

.top .user .body div p {
  font-size: 12px;
}

.top .user .body .dd1 {
  border-right: 1px solid #eee;
}

.top .user .foot {
  height: 100px;
  width: 100%;
}

.top .user .foot p {
  height: 30px;
  line-height: 30px;
  color: #ff527d;
  margin: 0;
  margin-top: 10px;
}

.top .user .foot ul {
  height: 50px;
  width: 100%;
}

.top .user .foot ul li span {
  color: #ff527d;
  font-weight: 600;
  font-size: 16px;
  padding-right: 3px;
}

.mid {
  width: 1200px;
  margin: 0 auto;
}

.mid .topp {
  font-size: 21px;
  font-weight: 600;
  margin: 15px 0;
  height: 30px;
  line-height: 30px;
  color: #000;
}

.mid .topp a {
  font-weight: normal;
  float: right;
  font-size: 16px;
  color: #666;
  line-height: 30px;
}

.mid :global(.swiper-ccc) {
  position: relative;
  overflow: hidden;
  user-select: none;
}

.mid :global(.swiper-ccc) :global(.swiper-button-prev) {
  opacity: 0;
  transition: all .5s;
}

.mid :global(.swiper-ccc) :global(.swiper-button-next) {
  opacity: 0;
  transition: all .5s;
}

.mid :global(.swiper-ccc) :global(.swiper-button-prev):hover {
  opacity: 1;
}

.mid :global(.swiper-ccc) :global(.swiper-button-next):hover {
  opacity: 1;
}

.mid :global(.swiper-ccc) :global(.swiper-wrapper) :global(.swiper-slide) {
  width: 224px;
  display: block;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.mid :global(.swiper-ccc) :global(.swiper-wrapper) :global(.swiper-slide) .fan {
  position: absolute;
  background: #fff;
  bottom: 10px;
  margin-bottom: 0;
  padding: 0 10px;
  border-radius: 10px;
  right: 10px;
  color: #666;
}

.mid :global(.swiper-ccc) :global(.swiper-wrapper) :global(.swiper-slide) .fan span {
  color: #ff527d;
}

.mid :global(.swiper-ccc) :global(.swiper-wrapper) :global(.swiper-slide) img {
  width: 100%;
}

.bottom {
  width: 1200px;
  margin: 0 auto;
}

.bottom .topp {
  color: #000;
  height: 30px;
  line-height: 30px;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 15px;
}

.bottom .dataList {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom .dataList li {
  margin-top: 20px;
  width: 225px;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 10px;
  float: left;
}

.bottom .dataList li a {
  padding: 10px;
  display: block;
}

.bottom .dataList li a div {
  overflow: hidden;
  width: 100%;
}

.bottom .dataList li a div img {
  width: 100%;
  transition: all .5s;
}

.bottom .dataList li a div img:hover {
  transform: scale(1.2);
}

.bottom .dataList li a p {
  height: 30px;
  margin: 0;
  line-height: 30px;
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bottom .dataList li a .p1 {
  font-weight: 600;
}

.bottom .dataList li a .p3 {
  margin-top: 10px;
}

.bottom .dataList li a .p3 .s1 {
  font-size: 24px;
  font-weight: 600;
  color: #ff527d;
}

.bottom .dataList li a .p3 .s2 {
  color: #ccc;
  text-decoration: line-through;
  margin-left: 10px;
}
