@charset "utf-8";
/* CSS Document */

/*=============================reset=====================================*/
body,h1,h2,h3,h4,h5,h6,p,a,ul,li,dl,dt,dd,ol,img,input,figure,figcaption{ padding:0; margin:0;}
header,footer,nav,section,figure,figcaption,main,article,aside{ display:block;}
ul,ol{ list-style:none;}
i{font-style:normal;}
img{display:block; border:0;}
button,input,select,textarea{outline:none;}
textarea{ resize:none;}

body{
    width:100%;
}
body>div{
    width: 100%;
    min-width: 1200px;
}

a{ text-decoration:none;}
a:hover{ text-decoration:none;}
