.swiper-container {
    width: 600px;
    height: 450px;
    user-select: none;
    .swiper-slide{
        border-radius: 15px;
        display: block;
        overflow: hidden;
        position: relative;
        .topdiv{
            background-image: linear-gradient(-180deg,transparent,rgba(0,0,0,.36) 95%);
            width: 600px;
            height: 200px;
            position: absolute;
            bottom: 0;
        }
        p{
            z-index: 98;
            position: absolute;
            left: 50px;
            color: #fff;
        }
        .v1{
            bottom: 50px;
            background: rgba(0, 0, 0, .5);
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            padding: 0 15px;
            border-radius: 15px;

        }
        .v2{
            bottom: 10px;
            font-size: 21px;
        }
        img {
            width: 600px;
            height: 450px;
        }  
    }
    .swiper-button-prev{
        width: 40px;
        height: 55px;
        opacity: 0;
        transition: all .5s;
    }
    .swiper-button-prev:hover{
        opacity: 1;
    }
    .swiper-button-next:hover{
        opacity: 1;
    }
    .swiper-button-next{
        width: 40px;
        height: 55px;
        opacity: 0;
        transition: all .5s;
    }
    .swiper-pagination-bullet-active{
        background-color: #ff527d;
    }
    .swiper-pagination-bullet{
        height: 10px;
        width: 10px;
    }
    .swiper-pagination{
        text-align: right;
        padding-right: 20px;
    }
}  
